@page
@model AcmeShop.Web.Pages.Termekek.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Termek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Termek.Id" />
            <div class="form-group">
                <label asp-for="Termek.Nev" class="control-label"></label>
                <input asp-for="Termek.Nev" class="form-control" />
                <span asp-validation-for="Termek.Nev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Termek.NettoAr" class="control-label"></label>
                <input asp-for="Termek.NettoAr" class="form-control" />
                <span asp-validation-for="Termek.NettoAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Termek.Raktarkeszlet" class="control-label"></label>
                <input asp-for="Termek.Raktarkeszlet" class="form-control" />
                <span asp-validation-for="Termek.Raktarkeszlet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Termek.AfaId" class="control-label"></label>
                <select asp-for="Termek.AfaId" class="form-control" asp-items="ViewBag.AfaId"></select>
                <span asp-validation-for="Termek.AfaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Termek.KategoriaId" class="control-label"></label>
                <select asp-for="Termek.KategoriaId" class="form-control" asp-items="ViewBag.KategoriaId"></select>
                <span asp-validation-for="Termek.KategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Termek.Leiras" class="control-label"></label>
                <input asp-for="Termek.Leiras" class="form-control" />
                <span asp-validation-for="Termek.Leiras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Termek.Kep" class="control-label"></label>
                <input asp-for="Termek.Kep" class="form-control" />
                <span asp-validation-for="Termek.Kep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
