@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    void RenderKategoria(Data.Kategoria kategoria, int level)
    {
        <li class="pl-@level">
            <a href="javascript:loadTermekek(@kategoria.Id)">@kategoria.Nev</a>
        </li>
        if (kategoria.GyerekKategoriak != null)
            foreach (var gyerek in kategoria.GyerekKategoriak.OrderBy(k => k.Nev))
                RenderKategoria(gyerek, level + 1);
    }
}

<div class="row">
    <div class="col-lg-3">
        <ul class="list-unstyled">
            @foreach (var kat in Model.Kategoriak[null].OrderBy(k => k.Nev))
            {
                RenderKategoria(kat, 0);
            }
        </ul>
    </div>
    <div class="col-lg-9" id="termekek">

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function loadTermekek(kategoriaId) {
            fetch("/TermekLista/" + kategoriaId)
                .then(resp => resp.text()
                    .then(text => document.getElementById("termekek").innerHTML = text)
                    .catch(console.error))
                .catch(console.error);
        }
    </script>
}