@page
@{
    ViewData["Title"] = "Szures";
}

<h1>Szures</h1>

<form asp-controller="Termek" asp-action="GetTermekek" method="get">

    <div class="form-group">
        <label for="termekId">Termék ID: </label>
        <input class="form-control" name="termekId" id="termekId" type="number" />
    </div>
    <div class="form-group">
        <label for="minimumNettoAr">Min. nettó ár: </label>
        <input class="form-control" name="minimumNettoAr" id="minimumNettoAr" type="number" />
    </div>
    <div class="form-group">
        <label for="maximumNettoAr">Max. nettó ár: </label>
        <input class="form-control" name="maximumNettoAr" id ="maximumNettoAr"type="number" />
    </div>

    <button class="btn btn-success">Filter!</button>

</form>